
body{
background-color: #002334;
}
h2,h5{
  color: #4bc8e1;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
}
h6, p{
  color: white;
}
h5{
  color: #4bc8e1;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
}


.navbar .navbar__logo {
  display: flex;
  padding: 0.5rem;
}
.navbar .navbar__title {
  color: white;
}
.main {
  padding: 2rem;
}
.main .main__logo {
  margin: auto;
  width: 40%;
  display: block;
}
.main__content {
  margin-top: 20px;
}
.result {
  margin-top: 30px;
  display: none;
  background-color: #002334 !important;
}
.result .result__body p {
  margin: 1em 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #fff;
}
.result .result__body p:last-child {
  border-bottom: none;
}
.bg-color{
  background-color: #002334;
 
}
.card{
  border: 1px solid #4bc8e1;
}
.form-control{
  background-color: #ADC5CF;
}

